In [1]:
import pandas as pd
import os

os.chdir("../")

In [2]:
from polapy import between_ep, within_ep

#### Example 1: Maximum Within-EP

In [3]:
df = pd.DataFrame(
    [(1, "A", 100, 1), (1, "B", 0, 0), (2, "A", 0, 0), (2, "B", 100, 1)], 
    columns=["unit", "candidate", "votes", "score"]
)

df.head()

   unit candidate  votes  score
0     1         A    100      1
1     1         B      0      0
2     2         A      0      0
3     2         B    100      1

In [4]:
value, antagonisms = between_ep(df)

print(value)
antagonisms.head()

0.0

  candidate  antagonism
0         A         0.0
1         B         0.0

In [5]:
value, antagonisms = within_ep(df)

print(value)
antagonisms.head()

1.0

  candidate  antagonism
0         A         0.5
1         B         0.5

#### Example 2: score column is not defined in the DataFrame
In this case, the algorithm will automatically compute the score, according to votes column

In [6]:
df = pd.DataFrame(
    [(1, "A", 75), (1, "B", 25), (2, "A", 25), (2, "B", 75)], 
    columns=["unit", "candidate", "votes"]
)

display(df.head())

   unit candidate  votes
0     1         A     75
1     1         B     25
2     2         A     25
3     2         B     75

In [7]:
value, antagonisms = within_ep(df)

print(value)
display(antagonisms.head())

0.5

  candidate  antagonism
0         A        0.25
1         B        0.25

In [8]:
value, antagonisms = between_ep(df)

print(value)
antagonisms.head()

0.5

  candidate  antagonism
0         A        0.25
1         B        0.25

#### Example 3: Election data from the 2014 General Election in Belgium

In [10]:
df = pd.read_csv("tests/data/2014_general.csv.gz")
df.head()

   polling_id         candidate  value      rate
0      228458  B.U.B.-Belg.Unie     10  0.001007
1      228458              CD&V   1488  0.149789
2      228458             GROEN    738  0.074290
3      228458              N-VA   4724  0.475539
4      228458           OpenVld   1350  0.135897

In [12]:
value, antagonisms = within_ep(
    df,
    unit="polling_id",
    candidate="candidate",
    votes="value",
    score="rate"
)

print(value)
display(antagonisms.head())

0.03446811198360588

            candidate  antagonism
0       Agora Erasmus    0.000013
1              B.U.B.    0.000019
2  B.U.B.- Belg.Unie     0.000060
3    B.U.B.-Belg.Unie    0.000038
4                CD&V    0.001649

In [11]:
value, antagonisms = between_ep(
    df,
    unit="polling_id",
    candidate="candidate",
    votes="value",
    score="rate"
)

print(value)
display(antagonisms.head())

0.28262342517320976

            candidate  antagonism
0       Agora Erasmus    0.006786
1              B.U.B.    0.006741
2  B.U.B.- Belg.Unie     0.004728
3    B.U.B.-Belg.Unie    0.003537
4                CD&V    0.002803